.cardContent {
    height: 100px;
}

.cardLoader {
    width: -webkit-fill-available;
}

.pokemonBall {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all .25s ease
}

.pokemonBall:hover {
    transform: scale(1.3);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-direction: column;
}
.pokemonImage {
    object-fit: contain !important;
    height: 180px;
}

.cardInfo {
    color: #023785 !important;
}
.cardContainer {
    background-color: #ECF4F4
}

